 .outside {
     position: absolute;
     background-color: transparent;
     width: 500px;
     height: 500px;
     background: grey;

 }


 .inside1 {
     position: absolute;
     width: 500px;
     height: 500px;
     background-color: transparent;

 }

 .inside1::before {
     content: "";
     background: black;
     display: block;
     width: 10px;
     height: 2%;
     position: absolute;
     top: 50;
     left: 0;
     animation: grow 2s 1s 1 normal;
     animation-fill-mode: both;
 }


 @keyframes grow {
     from {
         height: 0%;
         margin-top: 50%;
         margin-bottom: 50%;


     }

     to {
         height: 50%;
         margin-top: 0%;
         margin-bottom: 50%;





     }
 }

 .inside2 {
     position: absolute;
     top: 0;
     left: 0;
     width: 500px;
     height: 500px;
     background-color: transparent;
     top: 50;
     right: 0;
 }

 .inside2::after {
     content: "";
     background: black;
     display: block;
     width: 10px;
     height: 0%;
     position: absolute;
     top: 50;
     right: 0;
     animation: grow2 3s 1s 1 normal;
     animation-fill-mode: forwards;

 }

 @keyframes grow2 {
     from {

         height: 0%;
         margin-top: 50%;
         margin-bottom: 50%;


     }

     to {
         height: 50%;
         margin-top: 50%;
         margin-bottom: 0;


     }
 }

 .inside3 {
     position: absolute;
     top: 0;
     left: 0;
     width: 500px;
     height: 500px;
     background-color: transparent;
 }

 .inside3::before {
     content: "";
     background-color: black;
     display: block;
     position: absolute;
     width: 0px;
     height: 0%;

     animation: grow3 2s 3s 1 normal;
     animation-fill-mode: forwards;
 }

 @keyframes grow3 {
     from {
         background: black;
         width: 0px;
         height: 2%;

     }

     to {
         background: black;
         width: 100%;
         height: 2%;
         opacity: 1;

     }
 }


 .inside4 {
     background: yello;
     position: absolute;
     top: 0;
     right: 0;
     width: 500px;
     height: 500px;
     background-color: transparent;
 }

 .inside4::before {
     content: "";
     background: black;
     display: block;
     position: absolute;
     width: 0px;
     height: 2%;
     right: 0;
     bottom: 0;
     animation: grow4 3s 3.6s 1 normal;
     animation-fill-mode: forwards;
 }



 @keyframes grow4 {
     from {
         width: 0;


     }

     to {

         width: 100%;


     }
 }

 .insideside5 {
     position: absolute;
     background-color: transparent;
     width: 500px;
     height: 500px;

 }

 .inside5::before {
     content: "";
     background: black;
     display: block;
     width: 10px;
     height: 0%;
     position: absolute;
     top: 0;
     right: 0;
     animation: grow5 3s 6s 1 normal;
     animation-fill-mode: forwards;
 }

 @keyframes grow5 {
     from {

         height: 0%;

     }

     to {
         height: 50%;



     }
 }

 .insideside6 {
     position: absolute;
     background-color: transparent;
     width: 500px;
     height: 500px;

 }

 .inside6::before {
     content: "";
     background: black;
     display: block;
     width: 10px;
     height: 0%;
     position: absolute;
     bottom: 0;
     left: 0;
     animation: grow6 2.5s 6s 1 normal;
     animation-fill-mode: forwards;
 }


 @keyframes grow6 {
     from {

         height: 0%;

     }

     to {
         height: 50%;
     }
 }