body {
    background-color: #2777cc;
    animation: example 10s 3s infinite alternate;
    margin: 0;
    padding: 0;
}


.navbar {
    border-bottom: 3px solid #6b9ebf;
    height: 10vh;

}



.main_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;

}

a {
    color: white;
    list-style: none;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191;

}

@media only screen and (max-width: 600px) {
    a {
        font-size: .9em;
    }


}


.contact {
    margin-left: auto;
}

.main {

    font-size: 4em;

}




.grid {

    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px 20px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.grid-items {
    display: grid;
    place-items: center;




}

div>img {
    height: 80%;
    width: 80%;
    opacity: .5;
    border-radius: 80%;
    /* box-shadow: 5px 5px 3px 3px #080808,
        7px 7px 3px 3px #121212,
        9px 9px 6px 6px #1f1f1f,
        11px 11px 3px 3px #2e2e2e; */
}

.item1 {
    animation: float 5s 0s infinite alternate;
}

.item2 {
    animation: float 5s 3s infinite alternate;
}

.item3 {
    animation: float 5s 2s infinite alternate;
}


@keyframes float {
    from {}

    to {
        box-shadow: 5px 5px 3px 3px #080808,
            7px 7px 3px 3px #121212,
            9px 9px 6px 6px #1f1f1f,
            11px 11px 3px 3px #2e2e2e;
    }
}



.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10vh;
    font-size: 1em;
    text-align: center;
}


footer>div {
    margin: auto 50px;
}

.icon {
    width: 2vw;
    height: 3vh;
    opacity: 1;
}

.main {
    animation: drawBorder 4s;
}

@keyframes drawBorder {
    from {}

    to {}
}