.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, 1fr);
    border-radius: 10px black;
}

section {
    width: 200px;
    height: 200px;
    border-style: solid 50%;
    border-radius: 10px black;
}

.my1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100%;
    height: 100%;
    padding: auto;
    animation: example 7s;

}

.start::before {
    content: "";
    background: red;
    display: block;
    width: 10px;
    height: 2%;
    position: absolute;
    top: 50;
    left: 0;
    animation: grow 5s 1s infinite normal;
}

@keyframes grow {
    from {
        height: 0%;
        margin-top: 50%;
        margin-bottom: 48%;

    }

    to {
        height: 51%;
        margin-top: 0;
        margin-bottom: 48%;



    }
}

.start::after {
    content: "";
    background: red;
    display: block;
    width: 10px;
    height: 2%;
    position: absolute;
    top: 50;
    right: 0;
    animation: grow2 5s 1s infinite normal;
}

@keyframes grow2 {
    from {
        height: 0%;
        margin-top: 48%;
        margin-bottom: 50%;

    }

    to {
        height: 51%;
        margin-top: 48%;
        margin-bottom: 0;



    }
}

/* @keyframes example {

    from {
        height: 0%;
        width: 0%;
    }

    to {
        height: 100%;
        width: 100%;
    } */

/* 0% {
        width: 5%;
        height: 5%;
        font-size: 0%;
    }

    100% {
        width: 100%;
        height: 100%;
        font-size: 150%;
    } */

/* } */

.text {
    animation-name: spin;
    animation-duration: 5.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* @keyframes spin {
    from {
        font-size: 0;
        transform: rotate(0deg);
    }

    to {
        font-size: 100%;
        transform: rotate(-360deg);
    }
} */


.section-1 {
    height: 100px;
    border-left: ;
}