* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {

    width: 100%;
    min-height: 100%;
    background-color: #141c38;
    animation: example 10s 3s infinite alternate;
    margin: 0;
    padding: 0;
}


.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

/* navigation styles */
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;


}

.ul-container {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #6b9ebf;
}

.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);

}


ul {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}


a {
    color: white;
    list-style: none;
    padding: 0 1em 0em 1em;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191;

    backdrop-filter: blur(0px);

}

@media only screen and (max-width: 600px) {
    a {
        font-size: .7em;
    }

}


.contact {
    margin-left: auto;
}


/* main section styles */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .5em;
    margin-top: 5vh;
}


.toledo {
    width: 70%;
    padding-bottom: 5vh;
    margin-top: 10%;
}


/* project header styles */
.project-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-banner-line {
    position: relative;
    height: 15vh;
    width: 25vw;
}

.line-lft::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 10px;
    height: 2%;
    animation: grow3 1s 1s 1 normal;
    animation-fill-mode: both;
}

.line-rt::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 10px;
    height: 2%;
    animation: grow3 1s 1s 1 normal;
    animation-fill-mode: both;
}

.project-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
    margin: 0;

}

.banner-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-text {
    font-size: 3vw;
    color: white;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191;
}

.right-banner-line {
    position: relative;
    height: 15vh;
    width: 25vw;

}


.inside1 {
    position: absolute;
    width: 100%;
    height: 100%;

}

.inside2 {
    position: absolute;
    height: 100%;
    width: 100%;

}


.inside3 {
    position: absolute;
    height: 100%;
    width: 100%;
}


.inside1::before {
    content: "";
    background: transparent;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    bottom: 50%;
    left: 0;
    animation: grow 1s 2s 1 normal;
    animation-fill-mode: both;
}

.inside1::after {
    content: "";
    background: transparent;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    top: 50%;
    right: 0;
    animation: grow2 1s 2s 1 normal;
    animation-fill-mode: both;

}

@keyframes grow {
    from {
        background: black;
        height: 0%;
    }

    to {
        background: black;
        height: 50%;
    }
}


@keyframes grow2 {
    from {
        background: black;
        height: 0%;

    }

    to {
        background: black;
        height: 50%;

    }
}



.inside2::before {
    content: "";
    background: transparent;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    top: 0%;
    left: 0;
    animation: grow3 1s 3s 1 normal;
    animation-fill-mode: both;
}

@keyframes grow3 {
    from {
        background: black;
        width: 0%;

    }

    to {
        background: black;
        width: 100%;

    }
}

.inside2::after {
    content: "";
    background: black;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    bottom: 0%;
    right: 0;
    animation: grow3 1s 3s 1 normal;
    animation-fill-mode: both;
}





.inside3::before {
    content: "";
    background: transparent;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    top: 0%;
    right: 0;
    animation: grow2 1s 4s 1 normal;
    animation-fill-mode: forwards;

}




.inside3::after {
    content: "";
    background: transparent;
    display: block;
    width: .5%;
    height: 2%;
    position: absolute;
    bottom: 0%;
    left: 0;
    animation: grow 1s 4s 1 normal;
    animation-fill-mode: forwards;

}

h3 {
    font-size: 5vw;


}

@media only screen and (max-width: 425px) {
    h3 {
        font-size: 3vw;
    }

}

/* project showcase styles  */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;

}

.grid-items {
    display: grid;
    place-items: center;

}

.project-name {
    margin-bottom: 5%;
}

.project_pic {
    width: 60%;
    border-radius: 80%;
}

.item1 {
    animation: float 5s 0s infinite alternate;
}

.item2 {
    animation: float 5s 2s infinite alternate;

}

.item3 {
    animation: float 5s 4s infinite alternate;

}

.grid2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

@keyframes float {
    from {
        box-shadow: 0px 0px 25px 15px #080808,

    }

    to {
        box-shadow: 5px 5px 3px 3px #080808,
            7px 7px 3px 3px #121212,
            9px 9px 6px 6px #1f1f1f,
            11px 11px 3px 3px #2e2e2e;
    }
}



/* bottom line for project area  */
.bottom-project-area {
    position: relative;
    margin-top: 5vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 4vh;

}

.bottom-line {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
}

.bottom-line::before {
    content: "";
    background: transparent;
    display: block;
    width: 100%;
    height: 6%;
    position: absolute;
    bottom: 50%;
    left: 0%;
    margin-right: 10%;
    margin-left: auto;
    animation: bottom_grow 11s 1s 1 normal;
    animation-fill-mode: forwards;
}

.bottom-line::after {
    content: "";
    background: transparent;
    display: block;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 50%;
    right: 0%;
    margin-left: 10%;
    margin-right: auto;
    animation: bottom_grow 11s 1s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes bottom_grow {
    from {
        background: black;
        height: 5%;
        width: 0px;
    }

    to {
        background: black;
        height: 5%;
        width: 100%
    }
}


/* footer styles */
.footer {
    /* position: fixed;
    bottom: 0; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    margin-top: 10%;
    margin-bottom: 3%;

}

.favicon {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    width: 10%;
}

.icon {
    width: 20%;
    margin: 0;
    margin-left: auto;
}